@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200&display=swap');

* {
  font-family: 'Assistant', sans-serif;
  margin:0;
  padding:0;
}


body {
  height: 100%;
  width: 100%;
}



#img {
    width: 100%;
    background-image: url("imagens/header.jpg");

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: auto;

    margin-left: auto;
    padding-top: 500px;
    display: flex;
    flex-direction: column;

}



h6#t1 {
    color: white;
    font-size: 30px;
    margin-top: -450px;
    margin-left: 70px;
}
.a1 {
  text-align: center;
  margin-top: -310px;
}
p.a {

    color: white;
    margin-bottom: -5px ;
}
p.b{
    color: white;
    margin-top: -50px;

}

h2 {
  color: white;
}

h6.t2{
    color: white;
    font-family: sans-serif;
    text-align: center;
}

h6.t3{
    color: white;
    font-family: sans-serif;
    text-align: center;
}

h6.t4{
    color: white;
    font-family: sans-serif;
    text-align: center;
}

.bi1 {
    color: white;
    /*text-align: center;*/


}

.bi2 {
    color: white;
    /*text-align: center;*/

}

.bi3 {
    color: white;
   /* text-align: center;*/
}

.part1 {
  margin-top: -180px;
  margin-left: 320px;
  text-align: center;
}

.part2 {
  margin-top: -180px;
  text-align: center;

}

.part3 {
  margin-top: -180px;
  margin-right: 300px;
  text-align: center;
}

p.c {
    font-family: 'Assistant', sans-serif;
    margin-top: 100px;
    text-align: center;
    margin-bottom: 75px;
}

p.d{
    font-family: 'Assistant', sans-serif;
    margin-left: 100px;

    /*margin-bottom: 100px;*/

}

p.e{
    font-family: 'Assistant', sans-serif;
    margin-left: 100px;
    margin-bottom: 100px;

}

.image {
    text-align: center;
    align-items: center;
}


/* Partes 3 e 4 */

.p {
  width: 100%;
  margin-bottom: 10px;
  padding-bottom: 20px;
  font-size: 19px;
  line-height: 19px;
  margin-top: 7px;
  margin-left: 170px;
}

#par {
  width: 100%;
  margin-right: 170px;
}

h1 {
  font-weight: 400;
  color: #666;
  margin-right: 30px;

}

.pf {
  width: 100%;
  height: 100%;
  background: #f5f5f5;
  padding-top: 80px;
  padding-bottom: 80px;
  margin-bottom: 80px;
  text-align: center;
}

#plus {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.portfolio {
  display: block;
  margin-top: 50px;
  text-align: center;
}

.grid {
  width: auto;
  display: flex;
  flex-direction: row;
}

.grid2 {
  width:auto;
  margin-top:0;
  display: flex;
  flex-direction: row;
}

.gr {
  width:262px;
  height: 182px;
}

.cli {
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  height: 100px;
  line-height: 100px;
}

.logo {
  margin-left: 120px;
  max-width: 140px;
  max-height: 60px;
}

/* Fim Partes 3 e 4 */


/* Inicio partes 5 e 6 */

.centered
{
  text-align: center;
}



.sanFrancisco
{
  background-image: url("imagens/sep.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  margin-top: -78px;
  min-height: 400px;
  display: flex;
  align-items: center;

  width: 100%;
}

.sanFrancisco_info
{
  text-align: center;
  color: white;
  font-weight: 100;
  font-family: 'Assistant', sans-serif;
}

.botao_request_info
{
  margin-top: 50px;
  background: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 40px;        /* Arredonda bordas do botao*/
  padding: 13px 25px;         /* Padding dentro do botao */
  font-size: 10px;
}

.social_media_row
{
  background-color:rgb(4, 175, 255);
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.social_media_icon {
  color: white;
  padding:15px;     /* Espacamento entre icones*/
  font-size: 35px;  /* Regula o tamanho do icone*/
}


.contact_form_title
{
  color: #666;
  padding-top: 30px;
  padding-bottom: 5px;
  font-family: 'Assistant', sans-serif;
}

.contact_form
{
  background-color:#f5f5f5;;
  padding-top: 30px;
  padding-bottom: 30px;
  place-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.botao_send_form
{
  background: rgb(4, 175, 255);;
  color: white;
  border: 2px solid rgb(4, 175, 255);;
  border-radius: 40px;
  padding: 10px 40px;
  font-size: 15px;
}

footer
{
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
  background-color:rgb(4, 175, 255);;
  color: white;
}

.copyright_info
{
  font-size: 16px;
  margin-bottom: 0px;
}

.creator_info
{
  font-size: 14px;
  margin-bottom: 0px;
}

/* Fim partes 5 e 6 */



/* Responsividade */

@media (max-width: 1080px) {
  .portfolio {
    align-items: center;
  }

  .p {
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }

  .grid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .grid2 {
    display: flex;
    flex-direction: column;
    align-items:center;
  }

  .gr {
    display: flex;
    flex-direction: column;
  }

  .logo {
    margin-bottom: 20px;
    height: 25px;
    line-height: 2px;
    display: flex;
    flex-direction: column;
    padding: 0.5px;
  }

  #par {
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }

  .cli {
    margin-bottom: 100px;
  }

.d, .e {
    text-align: justify;
    margin-right: 70px;
  }

 .imagecen {
  width: 80%;
  height: 80%;
}


@media (max-width: 720px) {
  .portfolio {
    align-items: center;
  }

  .p {
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }

  .grid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .grid2 {
    display: flex;
    flex-direction: column;
    align-items:center;
  }

  .gr {
    display: flex;
    flex-direction: column;
  }

  .logo {
    margin-bottom: 20px;
    align-items: center;
    height: 25px;
    width: auto;
    line-height: 2px;
    display: flex;
    flex-direction: column;
    padding: 0.5px;
  }

  #par {
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }

  .cli {
    margin-bottom: 100px;
  }

.d, .e {
    text-align: justify;
    margin-right: 70px;
  }

 .imagecen {
  width: 80%;
  height: 80%;
}
